body {
  max-width: 500;
  max-height: 500;
  border: solid black;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.movieListEntry {
  display: flex;
  flex-direction: row;
  height: 100px;
  border: 1px solid rgb(15, 86, 194);
}
.watchBTN {
  background-color: rgb(28, 224, 28);
  margin-left: 82%;
  height: 60px;
  width: 100px;
  color: white;
  margin-top: 20px;
}